<ion-header>
  <ion-navbar>
    <ion-title>
      صوت ها
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ng-container *ngFor="let audio of audios">
    <ion-card class="Down" *ngIf="audio.Downloaded">
      <ion-card-header>
        {{audio.title}}
      </ion-card-header>
      <hr>
      <ion-card-content>
        {{audio.desc}}
        <button ion-button round (click)="gotoaudio(audio.title, audio.desc, audio.Downloaded, audio.path, audio.url)">دانلود و پخش صوت</button>
      </ion-card-content>      
    </ion-card>
    <ion-card class="nDown" *ngIf="!audio.Downloaded">
      <ion-card-header>
        {{audio.title}}
      </ion-card-header>
      <hr>
      <ion-card-content>
        {{audio.desc}}
        <button ion-button round (click)="gotoaudio(audio.title, audio.desc, audio.Downloaded, audio.path, audio.url)">دانلود و پخش صوت</button>
      </ion-card-content>      
    </ion-card>        
  </ng-container>
</ion-content>
