<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="متن" tabIcon="paper"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="صوت" tabIcon="musical-note"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="ویدیو" tabIcon="film"></ion-tab>
</ion-tabs>
