<ion-header>
  <ion-navbar>
    <ion-title>{{title}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-title>
      Title
    </ion-card-title>
    <ion-card-header>
      Header
    </ion-card-header>
    <ion-card-content>
      Content
    </ion-card-content>
  </ion-card>
</ion-content>
