<ion-header>
  <ion-navbar>
    <ion-title>{{title}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      {{desc}}
    </ion-card-header>
    <hr>
    <ion-card-content>
      {{text}}
    </ion-card-content>
  </ion-card>
</ion-content>
