<ion-header>
  <ion-navbar>
    <ion-title>
      ویدیو ها
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <ng-container *ngFor="let video of videos">
      <ion-card class="Down" *ngIf="video.Downloaded">
        <ion-card-header>
          {{video.title}}
        </ion-card-header>
        <hr>
        <ion-card-content>
          {{video.desc}}
          <button ion-button round (click)="gotovideo(video.id)">دانلود و مشاهده ویدیو</button>
        </ion-card-content>
      </ion-card>
      <ion-card class="nDown" *ngIf="!video.Downloaded">
        <ion-card-header>
          {{video.title}}
        </ion-card-header>
        <hr>
        <ion-card-content>
          {{video.desc}}
          <button ion-button round (click)="gotovideo(video.id)">دانلود و مشاهده ویدیو</button>
        </ion-card-content>
      </ion-card>
    </ng-container>
</ion-content>
