page-contact {
    ion-title {
        text-align: center;
    }
    .Down {
        text-align: center;
        background-color: darkgreen;
    }
    .nDown {
        text-align: center;
        background-color: darkgray;
    }
}
