<ion-header>
  <ion-navbar>
    <ion-title>متن ها</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let item of texts">
    <ion-card-header>
      {{item.title}}
    </ion-card-header>
    <hr>
    <ion-card-content>
      {{item.desc}}
      <button ion-button round (click)="gototext(item.title,item.desc,item.text)">مشاهده متن کامل</button>
    </ion-card-content>
  </ion-card>
</ion-content>
