<ion-header>
  <ion-navbar>
    <ion-title>{{video.title}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header>
      {{video.desc}}
    </ion-card-header>
  </ion-card>
</ion-content>
